<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>
<head>
<style type="text/css">{% include "style.css" %}</style>
<script src='jquery'></script>
<meta http-equiv="Content-Type" content="text/html">
</head>
<body>
<div id="header">
<h1>Image Application</h1>
 <div id="menu">
  <ul id="nav">
   <li><a href="/">Home</a></li>
   <li class="uploadLink"><a href="upload">Upload</a></li>
   <!--<li class="pleaseLogin"><a href="login">Please Login</a></li>-->
   <li><a href="image">Show most recent image</a></li>
  </ul>
 </div>
</div>
<div id="content">

<span style="display:none" id='loggedInAs'>Logged in as: <span id='username'> {{ username }}
  </span></span>
<div id="notLoggedInOptions" style="display:none">
<a href="login">Login</a> | <a href="create_account">Create Account</a>
</div>
<p><a style="display:none" id="logoutLink" href="logout">Logout</a>
</div>
{% block content %}
{% endblock %}
</div>

</body>

<script type="text/javascript">
var username = $.trim($('#username').text())
console.log(username)

if(username != '')
{
  //$(".uploadLink").hide()
  //$(".pleaseLogin").show()
  $('#loggedInAs').show()
  $('#logoutLink').show()
} else {
  $('#notLoggedInOptions').show()
}
</script>

</html>
