{% extends "base.html" %}

{% block content %}
<h1>Image Upload</h1>
<ul class="uploadLink"><a href='upload'>Upload an image</a></ul>
<ul><a href='image'>Show most recent image</a></ul>
<hr>
<h1>All Images</h1>
<ul><a href='image_list'>View All Images</a></ul>
<hr>
<b>Most Recent Upload:</b>
</br>
<img width=40% src='image_raw'/>

<script type="text/javascript">
var username = $.trim($('#username').text())
/*
if (username == '')
{
    $(".uploadLink").hide()
    $(".pleaseLogin").show()
}*/
</script>
{% endblock %}
