{% extends "base.html" %}

{% block title %}
Get
{% endblock %}

{% block content %}

<h1 id='header' style='color: black; opacity: .5;'>ZZZzzzz -_-</h1>

<a style='color: DarkSlateGray; margin: 15px; text-decoration: none;' href='/content'>Content</a>

<a style='color: DarkSlateGray; margin: 15px; text-decoration: none;' href='/file'>File</a>

<a style='color: DarkSlateGray; margin: 15px; text-decoration: none;' href='/image'>Image</a>

<a style='color: DarkSlateGray; margin: 15px; text-decoration: none;' href='/thumbnails'>Thumbnails</a>

<p>GET Name Submission</p><form action='/submit' method='GET'><input style='width: 150px' type='text' name='firstnameGET'><input style='width: 150px' type='text' name='lastnameGET'><input type='submit' value='SubmitGET'></form>

<p>POST Name Submission</p><form action='/submit' method='POST'><input style='width: 150px'type='text' name='firstnamePOST'><input style='width: 150px' type='text' name='lastnamePOST'><input type='submit' value='SubmitPOST'></form>

{% endblock %}
